[[source]]
url = "https://repo.kyori.net/repository/pip-internal/simple"
verify_ssl = true
name = "kyori"

[packages]
sphinx = "*"
sphinx-autobuild = "*"
furo = "*"
sphinx-design = "*"
rstcheck = "*"
sphinx-substitution-extensions = "*"
sphinx-github-changelog = "*"
sphinx-copybutton = "*"
sphinx-reredirects = "*"
pygments = "*"
sphinx-github-role = { git = "https://github.com/astrojuanlu/sphinx-github-role.git", ref = "main", editable = true }
myst-parser = "*"
sphinxcontrib-spelling = "*"
sphinxext-opengraph = "*"
matplotlib = "*"

[dev-packages]

[requires]
python_version = "3.11"
