sphinx==4.4.0
sphinx-autobuild==2021.3.14 # for live reload in development
sphinx-rtd-theme==1.0.0
sphinx-tabs==3.2.0
rstcheck==3.3.1 # format checks
Sphinx-Substitution-Extensions==2020.9.30.0 # for replacements in code blocks/etc
sphinx-github-changelog==1.2.0 # add a changelog section
sphinx-reredirects==0.0.1 # for changing URLs
